body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #ededed;
}

/* cover */
.navbar .container-fluid {
    flex-direction: column;
}

.navbarLogo {
    margin-bottom: 3vh;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
}

.linksDiv i, .searchIcon i {
    color: black !important;
}

.coverDiv {
    background-image: url("./assets/about\ cover\ img.png");
    padding-bottom: 15px;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.coverDivBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.linksDiv {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px
}

.linksDiv div {
    margin-left: 10px;
    margin-right: 10px;
}

.searchDiv {
    padding: 15px;
    margin-right: 20px;
}

.coverDiv hr {
    width: 100%;
}

.navbar {
    background: transparent !important;
    font-size: 18px;
}

.nav-link {
    color: white !important;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav li {
    margin-right: 25px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: white !important;
    padding: 10px;
    width: 200%;
    padding-left: 20px;
    border: 1px solid black;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}


.dropdown-menu li {
    margin-bottom: 5px;
    margin-right: 0;
    padding: 8px;
}

.dropdown-toggle::after {
    border-top: none;
}

.navDiv {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 8px 5px;
}

.dropdown-item:hover {
    background-color: transparent;
    color: black;
}


.PAndSul {
    width: 280%;
    padding: 10px 0;
    padding-right: 10px;
}

.PAndSul ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-left: 20px;
}

.dropdown:hover .PAndSul {
    display: flex;
}

.noBorder h3 {
    color: black;
}

.noBorder:hover {
    border: none !important;
}

.coverContent h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.coverContent {
    animation: slideInCenter 1s ease-in-out 0s 1 normal forwards;
}

@keyframes slideInCenter {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.coverHeading {
    width: 70%;
    margin: 10vh auto;
}

.coverHeading p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.nav-link {
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    display: flex !important;
    flex-direction: column !important;
}

#line1 {
    background-color: white;
    height: 3px;
    transition: all .5s;
    width: 0px;
}

#line2 {
    background-color: black;
    height: 3px;
    transition: width .5s;
    width: 0px;
}

.dropdown-menu li:hover #line2 {
    width: 50px;
}

.nav-item:hover #line1 {
    width: 50px;
}

@media (max-width:991px) {
    .navbar-collapse {
        margin-top: 20px !important;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .navbar .container-fluid {
        flex-direction: row;
    }

    .navbarLogo {
        margin-bottom: 0;
    }

    .navbar-collapse {
        background-color: white;
    }

    .navbar-collapse a {
        color: black !important;
    }

    .dropdown-menu {
        width: 100%;
    }

    #line1 {
        background-color: black;
    }
}

@media (max-width: 767px) {
    .coverContent h1 {
        font-size: 40px;
    }

    .coverHeading {
        width: 90%;
    }
}

@media (max-width: 342px) {
    .coverHeading {
        margin: 5vh auto;
    }

    .coverHeading h1 {
        font-size: 30px;
    }

    .coverHeading p {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 30vw;
    }
}

@media (max-width: 570px) {
    .PAndSul {
        flex-direction: column;
    }

    .dropdown-menu2 {
        border-top: 1px solid black;
        margin-top: 5vh;
        padding-top: 5vh !important;
    }

    .PAndSul ul {
        width: 95%;
    }
}

/* end cover */

/* overview */
.overview {
    background-color: #ededed;
    width: 100%;
}
.overview .row {
    padding: 0 20px;
    width: 100%;
}

.overviewContent {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.overviewCol2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 60%;

}

/* end overview */

/* vision */
.vision {
    margin-bottom: 4vh;
    width: 100%;
}

.vision .row {
    padding: 0 30px;
    width: 100%;
}

.visionContent {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.visionCol2 {
    display: flex;
    align-items: center;
}

/* end vision */
/* history */
.history {
    background-color: #ededed;
    width: 100%;
}

.history .row {
    justify-content: center;
    padding: 0 20px;
    width: 100%;
}

.historyContent {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.historyCol2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 60%;
}

/* end history */
/* ceoMessage */
.ceoMessage {
    background-color: #ededed;
    width: 100%;
}

.ceoMessage .row {
    justify-content: flex-end;
    padding: 50px 30px;
    background-image: url("./assets/ceoMessageImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.ceoMessage img {
    width: 100%;
    height: 600px;
}

.ceoMessageHeading h2 {
    font-family: Roboto;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

.ceoMessageContent {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.ceoMessageCol2 {
    display: flex;
    align-items: center;
    padding: 30px 0;
    background-color: white;
    margin: 20px 50px 20px 0;
}

.ceoMessageHeading h2 {
    font-size: 46px;
}

@media (max-width: 767px) {
    .ceoMessageCol2 {
        margin: 20px 50px;
    }
}

/* end ceoMessage */

.overview img, .visionImg img,  .historyImg img{
    width: 100%;
    height: 100%;
}

.overviewPara p, .visionPara p, .historyPara p {
    color: #848bb6;
    font-size: 18px;
}

.overviewHeading h2, .visionHeading h2, .historyHeading h2{
    font-family: Roboto;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
    color: #3a426d;
    font-size: 36px;
}

.imgDiv {
    width: 40%;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .imgDiv {
        width: 100%;
    }
    .overviewCol2, .historyCol2 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .ceoMessageHeading h2 {
        font-size: 36px;
    }
    .ceoMessageCol2 {
        margin: 20px 0;
        width: 100%;
    }
}

@media (max-width: 230px) {
    .ceoMessageHeading h2 {
        font-size: 30px;
    }
}

/* contactUs */
.contactUs {
    width: 100%;
}

.contactUsLinks i {
    color: #5f5f5f;
    font-size: 20px;
}

.contactUsLinks {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contactUs {
    display: flex;
    justify-content: space-around;
    margin: 30px 10px;
    padding: 30px 10px;
    gap: 10px;
}

.contactUsDiv {
    background-color: #c9c7c7;
}

.emailInputDiv input {
    padding: 12px 20px;
    color: #4c4c4c !important;
    border: 1px solid #e5e5e5;
    border-radius: 10px !important;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 16px;
}

.emailInputDiv input:focus-within {
    outline: none;
}

.contactUsPara {
    display: flex;
    align-items: center;
}

.contactUsPara p {
    margin-bottom: 0px;
}

.subscribeDiv button {
    font-size: 18px;
    padding: 12px 20px;
    background-color: #5872f7;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}

.subscribeDiv button:hover {
    background-color: #3657fa;
}
.contactNoneDiv {
    display: flex;
    gap: 10px;
}

@media (max-width: 767px) {
    .contactNoneDiv {
        display: none;
    }
}

/* end contactUs */

/* footer */
.contactUsParent {
    width: 100%;
}
.footerLogo img {
    width: 200px;
    height: 85px;
}

.footerLogoContent {
    margin-top: 20px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #848bb6;
    font-size: 18px;
}

.footerLogoLinks a {
    background-color: #000000;
    border-radius: 50%;
    box-shadow: none;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLogoLinks i {
    font-size: 18px;
    color: #DEDEDE;
}

.footerLogoLinks {
    display: flex;
    gap: 10px;
}

.footerLogoDiv,
.footerAboutDiv {
    padding: 20px 10px;
}

.copyrights a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.footerAboutDiv {
    color: #848bb6;
}

.footerRow {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
}

.footerUl ul {
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}

.footerUl a {
    text-decoration: none;
    color: #424242;
    font-size: 16px;
}

.footerUlDiv {
    padding: 20px;
}

#footerLIAbout {
    display: none;
}

@media (max-width: 767px) {
    #footerLIAbout {
        display: block;
    }

    .footerAboutDiv {
        display: none;
    }

    .footerUl ul {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .footerRow {
        flex-direction: column-reverse;
    }

    .footerLogoDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 300px) {
    .footerLogo img {
        width: 150px;
    }
    .footerLogoLinks {
        flex-wrap: wrap;
    }
}

/* end footer */