@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #ededed;
    font-family: "Roboto", sans-serif;
}

/* cover */
.navbar .container-fluid {
    flex-direction: column;
}

.navbarLogo {
    margin-bottom: 3vh;
}

.headerLinks {
    display: flex;
    justify-content: flex-end;
}

.linksDiv i,
.searchIcon i {
    color: black !important;
}

.coverDiv {
    background-image: url("./assets/about\ cover\ img.png");
    padding-bottom: 15px;
    background-size: cover;
    height: 600px;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.coverDivBlur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.linksDiv {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px
}

.linksDiv div {
    margin-left: 10px;
    margin-right: 10px;
}

.searchDiv {
    padding: 15px;
    margin-right: 20px;
}

.coverDiv hr {
    width: 100%;
}

.navbar {
    background: transparent !important;
    font-size: 18px;
}

.nav-link {
    color: white !important;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav li {
    margin-right: 25px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
}

.dropdown-menu {
    background-color: white !important;
    padding: 10px;
    width: 200%;
    padding-left: 20px;
    border: 1px solid black;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}


.dropdown-menu li {
    margin-bottom: 5px;
    margin-right: 0;
    padding: 8px;
}

.dropdown-toggle::after {
    border-top: none;
}

.navDiv {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 8px 5px;
}

.dropdown-item:hover {
    background-color: transparent;
    color: black;
}


.PAndSul {
    width: 280%;
    padding: 10px 0;
    padding-right: 10px;
}

.PAndSul ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-left: 20px;
}

.dropdown:hover .PAndSul {
    display: flex;
    position: absolute;
}

.noBorder h3 {
    color: black;
}

.noBorder:hover {
    border: none !important;
}

.coverContent h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}

.coverContent {
    animation: slideInCenter 1s ease-in-out 0s 1 normal forwards;
}

@keyframes slideInCenter {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.coverHeading {
    width: 70%;
    margin: 10vh auto;
}

.coverHeadingH2 {
    display: flex;
    flex-wrap: wrap;
}

.coverHeading h2 {
    color: white;
    font-size: 26px;
    text-align: center;
    width: 650px;
    margin: 0 auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    display: flex !important;
    flex-direction: column !important;
}

#line1 {
    background-color: white;
    height: 3px;
    transition: all .5s;
    width: 0px;
}

#line2 {
    background-color: black;
    height: 3px;
    transition: width .5s;
    width: 0px;
}

.dropdown-menu li:hover #line2 {
    width: 50px;
}

.nav-item:hover #line1 {
    width: 50px;
}

@media (max-width:991px) {
    .navbar-collapse {
        margin-top: 20px !important;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .navbar .container-fluid {
        flex-direction: row;
    }

    .navbarLogo {
        margin-bottom: 0;
    }

    .navbar-collapse {
        background-color: white;
    }

    .navbar-collapse a {
        color: black !important;
    }

    .dropdown-menu {
        width: 100%;
    }

    #line1 {
        background-color: black;
    }
}

@media (max-width: 767px) {
    .coverContent h1 {
        font-size: 40px;
    }

    .coverHeading {
        width: 90%;
    }
}

@media (max-width: 342px) {
    .coverHeading {
        margin: 5vh auto;
    }

    .coverHeading h1 {
        font-size: 30px;
    }

    .coverHeading p {
        font-size: 16px;
    }

    .navbar-brand img {
        width: 30vw;
    }
}

@media (max-width: 570px) {
    .PAndSul {
        flex-direction: column;
    }

    .dropdown-menu2 {
        border-top: 1px solid black;
        margin-top: 5vh;
        padding-top: 5vh !important;
    }

    .PAndSul ul {
        width: 95%;
    }
}

@media (max-width: 300px) {
    .coverHeadingH2 h2 {
        font-size: unset;
    }
}

@media (max-width: 200px) {
    .coverHeading h1 {
        font-size: 24px;
    }
}

/* end cover */

/* containerDiv */
.containerDiv {
    width: 100%;
    background-color: #fafafa;
}

.containerDiv .row {
    padding: 0 20px;
    width: 100%;
}

.containerDivContent {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.containerDivCol2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.containerDiv img {
    width: 100%;
    height: 100%;
}

.containerDivPara p {
    font-size: 18px;
}

.containerDivHeading h2 {
    font-family: "Roboto";
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    text-transform: capitalize;
}

.imgDiv {
    width: 40%;
    padding: 0 20px;
}

.contentDiv {
    width: 60%;
}

@media (max-width: 767px) {
    .imgDiv {
        width: 100%;
        padding: 0;
    }

    .contentDiv {
        width: 100%;
    }
}

@media (max-width: 249px) {
    .containerDivHeading h2{
        font-size: 24px;
    }

    .containerDivContent {
        padding: 0 !important;
    }
}

/* containerDiv */

/* projects */
.ourProjectsHeading  h2 {
    text-align: center;
    text-transform: capitalize;
}
.ourProjectsParent {
    background-color: #ededed;
    padding: 90px 20px;
}

.ourProjectsImgs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.imgDiv {
    width: 32%;
    margin-top: 10px;
}

.imgDiv img {
    width: 100%;
}

.ourProjectsHeading {
    margin: 50px 0;
}
@media (max-width: 539px) {
    .imgDiv {
        width: 100%;
    }
}
/* end projects */

/* energy */
.energyParent {
    background-color: #e3e0cf;
    padding: 80px 20px;
}
.energyDiv {
    position: relative;
}
.energyHeading h2 {
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

.energyHeading {
    margin: 30px 0;
}

.energyPara {
    margin: 30px;
    text-align: center;
    word-wrap: break-word;
}

.energyImg {
    text-align: center;
}

.energyImg img {
    width: 25%;
}

.energyLi {
    width: 40%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
}

.energyLi2 {
    position: absolute;
    text-align: left;
    padding: 0 50px;
}

.energyLi3 {
    position: absolute;
    top: 132vh;
    text-align: left;
    padding: 0 50px;
}
.energyLi4 {
    position: absolute;
    right: 0;
    padding: 0 50px;
    text-align: left;
}
.energyLi5 {
    position: absolute;
    right: 0;
    top: 130vh;
    padding: 0 85px;
    text-align: left;
}

.energyLi2, .energyLi3 {
    padding-left: 0;
}
.energyLi4, .energyLi5 {
    padding-right: 0;
}

.energyLi2 .circleIcon {
    position: absolute;
    right: 0;
    top: 5vh;
}

.energyLi3 .circleIcon {
    position: absolute;
    right: 3vw;
    bottom: 7vh;
}

.energyLi4 .circleIcon {
    position: absolute;
    top: 4vh;
    left: 0;
}

.energyLi5 .circleIcon {
    position: absolute;
    top: 0;
    left: 3vw;
}

@media (max-width: 879px) {
    .energyLi2, .energyLi3 {
        position: unset;
        text-align: center;
        padding-right: 0;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .energyLi4, .energyLi5 {
        position: unset;
        text-align: center;
        padding-left: 0;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .energyLi2 .circleIcon , .energyLi3 .circleIcon {
        position: unset;
        text-align: center;
    }

    .energyLi4 .circleIcon , .energyLi5 .circleIcon {
        position: unset;
        text-align: center;
    }

    .energyImg img {
        width: 80%;
    }

    .energyLi {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .energyPara {
        margin: 0;
        text-align: left;
    }
    .energyLi1 {
        margin-top: 30px;
    }
}

@media (max-width: 250px) {
    .energyHeading h2 {
        font-size: 20px;
    }
}
@media (max-width: 210px) {
    .energyHeading h2 {
        font-size: 18px;
    }
}
/* end energy */